@font-face {
    font-family: 'Fontin';
    src: url('Fontin-Regular.ttf');
}

* {
    cursor: default;
}

body {
    height: 2450px;
    margin-top: 80px;
    font-family: "Fontin";
    background: #1e1e1e;
    color: #c8c8c8;
    font-size: 16px;
}

a {
    color: #c8c8c8;
}

#app {
    max-width: 960px;
}

a:hover {
    color: #c8c8c8;
}

.larger-font {
    font-size: 18px;
}

.enemy-progress {
    height: 6px;
}

.game-saved {
    cursor: default;
    color: #555;
}

.attack-click {
    /* border: 1px solid black; */
    /* margin-top: 22px; */
}

.attack-click-image {
    margin-top: -40px;
    height: 150px;
}

.attack-click-image:hover {
    cursor: pointer;
}

.item:hover {
    text-decoration: underline;
}

.item-magic {
    color: #5E81AC !important;
}

.item-rare {
    color: #EBCB8B !important;
}

.item-unique {
    color: #BF616A !important;
}

.item-legendary {
    color: #BF616A !important;
}


.table {
    color: #c8c8c8;
}

.stats-list {
    /*line-height: 20px;*/
}

.widget {
    border: 1px solid #252525;
    margin: 7px -9px 0 -9px;
}

.widget-dark > * {
    background: #1a1a1a;
}

.widget-content {
    padding: 12px;
    line-height: 14px;
}

.drop {
    cursor: pointer;
    font-size: 13px;
    padding: 6px;
    margin-bottom: 4px;
    background-color: #101010;
    border: 1px solid #252525;
}

.drop:hover {
    border: 1px solid #808080;
}

.drop > span {
    height: 10px;
    cursor: pointer;
}

.drop-options {
    font-size: 16px;
}

.drop-options:hover {
    cursor: pointer;
    display: inline;
    background-color: #000;
}

.footer {
    margin-top: 25px;
}
.tab-switcher {
    font-size: 20px;
    margin-bottom: 25px;
}

.tab-switcher-element {
    display: inline-block;
    margin-right: 10px;
    color: #D8DEE9;
}

.tab-switcher-element-active {
    font-size: 26px;
    font-weight: bold;
}

.tab-switcher-element:hover {
    text-decoration: underline;
}

.area-container {
    margin-bottom: 17px;
}

.area-monster-count {
    margin-left: 15px;
}

.area-monster-health {
    font-size: 14px;
    text-align: center;
    display: block;
}

.current-area {
    /*border: 1px solid black;*/
    justify-content: center;
    padding-top: 15px;
}

.table th, .table td {
    border: none;
    padding: 13px;
}
.fixed-table-container {
    border:0px !important;
}

.bg-success {
    background: #A3BE8C !important;
}

.bg-warning {
    background: #EBCB8B !important;
}

.bg-danger {
    background: #BF616A !important;
}

.text-fire {
    color: #BF616A;
}

.text-cold {
    color: #5E81AC;
}

.text-lightning {
    color: #88C0D0;
}

.damage-stats,
.game-menu-button {
    font-size: 14px;
}

.damage-stats > li {
    margin-bottom: 4px;
}

small {
    color: #707070;
}

.farm-button {
    color: #707070;
    font-size: 13px;
}

.farm-button-active {
    color: #BF616A;
}

.game-menu-button-active {
    color: #88C0D0 !important;
}


.equipment-container {
    font-size: 14px;
}

.equipment-item-type-header {
    display: block;
}

.equipment-item {
    margin-bottom: 5px;
}
