@font-face {
    font-family: 'Fontin';
    src: url('Fontin-Regular.ttf');
}

* {
    cursor: default;
}

body {
    margin-top: 30px;
    font-family: "Fontin";
    background: #1e1e1e;
    color: #c8c8c8;
    font-size: 16px;
}

a {
    color: #c8c8c8;
}

a:hover {
    color: #c8c8c8;
}

.larger-font {
    font-size: 18px;
}

.enemy-progress {
    height: 6px;
    margin-bottom: 7px;
}

.enemy-progress > * {
    transition: none !important;
}

.game-saved {
    cursor: default;
    color: #555;
}

.attack-click {
    /* border: 1px solid black; */
    /* margin-top: 22px; */
}

.attack-click-image {
    /*margin-top: -40px;*/

}

.attack-click-image:hover {
    cursor: pointer;
}

.item:hover {
    text-decoration: underline;
}

.item-normal {
    color: #efeef1 !important;
}

.text-magic,
.item-magic {
    color: #5E81AC !important;
}

.text-rare,
.item-rare {
    color: #EBCB8B !important;
}

.text-unique,
.item-unique {
    color: #BF616A !important;
}

.text-legendary,
.item-legendary {
    color: #BF616A !important;
}


.table {
    color: #c8c8c8;
}

.stats-list {
    /*line-height: 20px;*/
}

.widget {
    border: 1px solid #252525;
    margin: 7px -9px 0 -9px;
}

.widget-dark > * {
    background: #1a1a1a;
}

.widget-content {
    padding: 12px;
    line-height: 14px;
}

.drop {
    cursor: pointer;
    font-size: 13px;
    padding: 6px;
    margin-bottom: 4px;
    background-color: #101010;
    border: 1px solid #252525;
}

.drop:hover {
    border: 1px solid #808080;
}

.drop > span {
    height: 10px;
    cursor: pointer;
}

.drop-options {
    font-size: 16px;
}

.drop-options:hover {
    cursor: pointer;
    display: inline;
    background-color: #000;
}

.footer {
    text-align: center;
    margin-top: 25px;
}
.tab-switcher {
    font-size: 20px;
    margin-bottom: 25px;
}

.tab-switcher-element {
    display: inline-block;
    margin-right: 10px;
    color: #D8DEE9;
}

.tab-switcher-element-active {
    font-size: 26px;
    font-weight: bold;
}

.tab-switcher-element:hover {
    text-decoration: underline;
}

.area-container {
    margin-bottom: 17px;
}

.area-monster-count {
    margin-left: 15px;
}

.area-monster-health {
    font-size: 14px;
    text-align: center;
    display: block;
}

.current-area {
    /*border: 1px solid black;*/
    justify-content: center;
    padding-top: 15px;
}

.area-name {
    margin-top: 2px;
    display: block;
    margin-bottom: 5px;
}

.table th, .table td {
    border: none;
    padding: 13px;
}
.fixed-table-container {
    border:0px !important;
}

.bg-success {
    background: #A3BE8C !important;
}

.bg-warning {
    background: #EBCB8B !important;
}

.bg-danger {
    background: #BF616A !important;
}

.text-fire {
    color: #BF616A;
}

.text-cold {
    color: #5E81AC;
}

.text-lightning {
    color: #88C0D0;
}

.text-poison,
.text-success {
    color: ##A3BE8C !important;
}

.damage-stats,
.game-menu-button {
    font-size: 14px;
}

.damage-stats > li {
    margin-bottom: 4px;
}

.text-muted,
small {
    color: #707070;
}

.farm-button {
    color: #707070;
    font-size: 13px;
}

.farm-button-active {
    color: #BF616A;
}

.game-menu-button-active {
    color: #88C0D0 !important;
}


.map-component,
.equipment-component {
    font-size: 14px;
}

.act {
    margin-bottom: 10px;
}

.map-area,
.equipment-type {
    display: block;
}
.map-act,
.equipment {
    margin-bottom: 5px;
}

.map-area:hover {
    color: #efeef1;
}

.map-current {
    color: #efeef1;
}

.monster-container {
    height: 120px;
}

.monster-hp {
    display: block;
    margin-bottom: 5px;
}

.monster-name,
.monster-image {
    display: inline-block;
}

.monster-name {
    width: 70%;
    margin-bottom: 5px;
}
.monster-image {
    width: 30%;
}

.monster-type {

}

.inventory {
    /*border: 1px solid blue;*/
    /*margin-left: 12px;*/
    /*text-align: center;*/
}

.inventory-slot {
    height: 32px;
    width: 32px;
    /*background-image: url(/assets/misc/inventoryslot32.png);*/
    border: 1px solid #454F61;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px;
}

.inventory-item {
    padding-top: 6px;
    padding-left: 6px;
}

.item-tooltip {
    font-size: 12px;
}

.tippy-tooltip.normal-theme {
    border: 1px solid #EBCB8B;
    text-align: left;
}

.tippy-tooltip.magic-theme {
    border: 1px solid #5E81AC;
    text-align: left;
}

.tippy-tooltip.rare-theme {
    border: 2px solid #EBCB8B;
    text-align: left;
}

.tippy-tooltip.unique-theme {
    border: 2px solid #BF616A;
    text-align: left;
}

.tippy-backdrop {
  background-color: #1a1a1a;
}

.tooltip-header {
    margin-bottom: 10px;
}

.item-tooltip-name,
.item-tooltip-stat {
    display: block;
}

.tooltip-options {
    margin-top: 12px;
}

.item-tooltip-options {
    margin-right: 5px;
}

.item-tooltip-gold {
    margin-top: 10px;
}

.map-float: {

}
